<div style="
    background-color: rgba(0,0,0,0.38);
">
	<a href="/"><img src="http://res.cloudinary.com/doan/image/upload/v1475539470/DPL_Mark_white_wd11ba.png" /></a>
</div>

<%= render(partial: 'form') %>

<br/>